@page "/About"
@using System.Reflection
<PageTitle>О приложении</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>О приложении</h1>
            
            <p>Приложение разработно при помощи технологий <a href="https://dotnet.microsoft.com/en-us/">.NET</a>:</p>
            <ul>
                <li>Версия .NET: @Environment.Version</li>
                <li>
                    <a href="https://docs.microsoft.com/aspnet/core/blazor/?view=aspnetcore-6.0" target="_blank">Blazor WebAssembly</a>
                </li>
            </ul>
            <p>Версия приложения: @($"{_appVersion.Major}.{_appVersion.Minor}.{_appVersion.Revision}")</p>
        </div>
    </div>
</div>

@code
{
    private readonly Version _appVersion = Assembly.GetExecutingAssembly().GetName().Version ?? throw new NullReferenceException(nameof(_appVersion));
}