@page "/contacts"

<PageTitle>Контакты</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Мои контакты и контакты группы BlueBerryCats</h1>
            <p>Самые <strong>преданные</strong> и <strong>честные</strong> люди:</p>
            <ul class="list-group">
                <li class="list-group-item active">
                    <a class="link-dark" href="https://t.me/XGuppy">Игорь "Guppy" Мурзаев</a>
                </li>
                <li class="list-group-item">
                    <a class="link-primary" href="https://t.me/powpowpowpowpowpowpowpowpow">Владислав "xkaya" Хисматулин</a>
                </li>
                <li class="list-group-item">
                    <a class="link-primary" href="https://t.me/k_obukhov">Константин "NothingIsGood" Обухов</a>
                </li>
                <li class="list-group-item">
                    <a class="link-primary" href="https://t.me/aytem">Артём "Doggie" Крят</a>
                </li>
                <li class="list-group-item">
                    <a class="link-primary" href="https://t.me/PyatiyEtaj">Александр "PyatiyEtaj" Фёдоров</a>
                </li>
            </ul>
        </div>
    </div>
</div>