@inherits LayoutComponentBase
@inject ILocalStorageService _localStorage
<div class="page @DarkThemeCssClass">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="form-check form-switch">
                <input @onclick="ToggleTheme" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @bind="_darkTheme">
                <label class="form-check-label" for="flexSwitchCheckDefault" aria-hidden="true">Тёмная тема</label>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private const string ThemeLocalStorageKey = "theme";
    private bool _darkTheme;
    private string? DarkThemeCssClass => _darkTheme ? "dark-theme" : null;

    protected override async Task OnInitializedAsync()
    {
        _darkTheme = await _localStorage.GetItemAsync<bool>(ThemeLocalStorageKey);
    }

    private async void ToggleTheme()
    {
        _darkTheme = !_darkTheme;
        await _localStorage.SetItemAsync(ThemeLocalStorageKey, _darkTheme);
    }

}